@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

body{

}

html{

}

#bigger-div{
    font-family: "work sans";

    font-size: 100%;
}

#loginform{
    max-width: 500px;
    min-width: 300px;
    max-height: 700px;
    width: 30%;
    height: auto;
    margin: 100px auto;
    background-color: #FFFFFF;
    border-radius: 25px;
}

#headerTitle{
    text-align: center;
    font-family: 'open sans', sans-serif;
    padding: 2rem 0;
    margin: 0;
    font-size: 2rem;
}

#register-form{
    border-top:1px solid #e2e2e2;
    text-align: center;
    font-size: 1.25em;
    padding-top: 0.2rem;
    margin-top: 0.1rem;
    padding-bottom: 0.2rem;
    width: 90%;
    margin:auto;
}

.fieldRow-b{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    max-width: 100%;

}

.fieldRow-b input{
    width: 80%;
    box-sizing: border-box;
    border: none;
    font-size: 1.3rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
    transition: box-shadow 0.2s ease-in;
}

.fieldRow-b input:focus{
    box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
    outline: none;
}

.fieldRow-b input::-webkit-input-placeholder{
    opacity: 1;
    transition: opacity 0.25s ease-out;
}

.fieldRow-b input:hover::-webkit-input-placeholder,
.fieldRow-b input:focus::-webkit-input-placeholder{
    opacity: 0;
}

.fieldRow-b label{
    align-self: start;
    padding-left: 4.5rem;
    padding-bottom: 0.5rem;
    color: rgba(187,187,187,0.9);
}

.fieldRow-b button{
    border-radius: 25px;
    width: 80%;
    height: 40px;
    font-size: 1.3rem;
    color: #5b5656;
    font-weight: 700;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
}

.fieldRow-b button:hover{
    opacity: 0.8;
}

#button{
    padding-bottom: 1.5rem;
}

#alternativeLogin {
    text-align: center;
    padding-top: 2rem;
    margin-top: 1.5rem;
}

.nav-link:link {
    color: black;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-decoration: none;
}
.nav-link:visited {
    color: black;
}
.nav-link:hover {
    color: orangered;
}
.nav-link:active {
    color: teal;
}

.login-error {
    color: black;
    text-align: center;
    padding-top: 1.5rem;
    font-size: 20px;
    margin-left: 50px;
    max-width: 80%;
}
